@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  width: 83%;
}

.cardcontainer {
  justify-content: center;
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.card > * {
  margin-bottom: 16px;
}

/* 2nd page */

.tasksfiltre {
  justify-content: space-between;
  display: flex;
  margin-bottom: 25px;
  align-items: center;
}

.CARD {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card2 {
  background-color: #f0eefa;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5px;
}

.card-description {
  margin-left: 32px;
  grid-column: span 2;
  margin-top: 5px;
}

.card-description:has(input) {
  display: flex;
  gap: 10px;
}

.card-description-2 {
  margin-left: 16px;
}

.btn-next {
  margin-top: 20px;
  border-radius: 20px;
}

.nameNplate {
  justify-content: space-between;
  display: flex;
}

.timeNdate {
  justify-content: space-between;
  display: flex;
}
.cardInfo {
  margin-bottom: 35px;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
}

.divContainer {
  width: 83%;
}

/* Recap page */

.recapCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recap2 {
  background-color: #f0eefa;
}

.rec-contain2 {
  width: 83%;
}

.rec-contain {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
}

.recap {
  margin-bottom: 30px;
  font-size: 20px;
  margin-left: 32%;
}
